//
// Accent Colors
//

$primary: #4d6de6;
$primary-darken: #112c93;
$primary-gradient: linear-gradient(to right, #112c93, #101528);
$primary-gradient-to-bottom: linear-gradient(to bottom, #37467d, #141c3a);
