//
// Accent Colors
//

$primary: #76cfd6;
$primary-darken: #3fb7c1;
$primary-gradient: linear-gradient(to right, #3fb7c1, #19758f);
$primary-gradient-to-bottom: linear-gradient(to bottom, #3fb7c1, #19758f);
 
