//
// Accent Colors
//

$primary: #ffad4d;
$primary-darken: $primary;
$primary-gradient: linear-gradient(to right, $primary, $primary);
$primary-gradient-to-bottom: linear-gradient(to bottom, $primary, $primary);
 
